:root{
    --main-color-grad : linear-gradient(91deg,#f73,#ff5722 50%,#e54917);
    --main-color : #ea4c1b;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style-type: none;
    text-align: right;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 9%;
    width: 82%;
    padding: 1vh 0;
}

.nav .tapsi-name{
    cursor: pointer;
    font-size: large;
}

.nav .tapsi-name:hover{
    color: var(--main-color);
}

.nav ul{
    display: flex;
    align-items: center;
}

.nav ul li{
    padding: 1vh 1vw;
    font-size: 15px;
}

.nav ul li a:hover{
    color: var(--main-color);
}


.nav ul li .download-btn{
    padding: 1.5vh 2.5vw;
    border-radius: 50px;
    border: none;
    background: var(--main-color-grad);
    color: white;
    font-size:medium;
    cursor: pointer;
    margin-right: 15px;
}

.nav ul li .download-btn:hover{
    filter: brightness(85%);
}

.first-section{
    background-color: #fefefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12vh;
    margin-right: 9%;
    width: 82%;
    padding: 1vh 0;
    gap: 20px;
}

.first-section .right{
    padding-right: 5vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.first-section .right h1{
    font-size: 48px;
}

.first-section .right .buttons{
    display: flex;
    justify-content:flex-start;
    gap: 25px;
}

.first-section .right .buttons .right-button{
    flex: 1;
    cursor: pointer;
    background-color: black;
    padding: 0 32px;
    border-radius: 50px;
    border: none;
    height: 68px;
    max-width:fit-content;
}

.first-section .right .buttons .right-button:hover{
    opacity: 0.8;
}

.first-section .right .buttons .right-button a{
    font-weight: bold;
    font-size: 18px;
    color: white;
}



.first-section .right .buttons .left-button{
    flex: 1;
    cursor: pointer;
    background-color: white;
    padding: 0 32px;
    border-radius: 50px;
    height: 68px;
    max-width:fit-content;
}

.first-section .right .buttons .left-button a{
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.first-section .left{
    width: 50%;
}

.first-section .left img{
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
}